.App {
  padding: 25px;
}
.icon-btn {
    border:none;
    background: none;
    color: #666;
    padding: 4px;
}
a {
    color: darkblue;
    text-decoration: none;
}
a span,
button span{
    vertical-align: middle;
}
.delete-btn{
    color: darkblue;
    padding: 0;
}
.delete-btn svg{
    color: red;
}
.post-listing-details{
    padding-left: 24px;
    margin-bottom: 8px;
    font-size: 14px;
}
.not-found h2{
    font-size: 90px;
    margin-top: 200px;
    margin-bottom: 24px;
}
.error{
    color: red;
}